* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  background: #FFFFFF;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

img.hero{
  left: 77px;
  top: 96px;
}
p.hero{
  font-size: 16px;
}